{% extends 'layout.html' %}
{% block body %}
  <h1>Dashboard <small> Welcome! {{session.username}}</small></h1>
    <a  class="btn btn-success" href="/addarticle">Add article</a>
  <hr>
  <table class="table table-striped">
      <tr>
        <th>ID</th>
        <th>TITLE</th>
        <th>AUTHER</th>
        <th>DATE</th>
        <th></th>
        <th></th>
      </tr>
     {% for article in articles %}
        <tr>
            <td>{{ article.id }}</td>
            <td>{{ article.title }}</td>
            <td>{{ article.auther }}</td>
            <td>{{ article.create_date }}</td>
            <td><a href="/editarticle/{{ article.id }}" class="btn btn-default pull right">Edit</a> </td>
            <td><a href="/deletearticle/{{ article.id }}" class="btn btn-danger pull right">Delete</a></td>
        </tr>
     {% endfor %}
  </table>
{% endblock %}